<h3>{{viewTitle}}</h3>
<form action="/" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>Họ tên</label>
        <input type="text" class="form-control" name="hoten" value="{{employee.hoten}}" placeholder="Họ tên">
        <div class="text-danger">
            {{employee.hotenError}}
        </div>
    </div>
    <div class="form-group">
        <label>Ngày sinh</label>
        <input type="text" class="form-control" name="ngaysinh" value="{{employee.ngaysinh}}" placeholder="Ngày sinh">
        <div class="text-danger">
            {{employee.ngaysinhError}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group md-6">
            <label>Giới tính</label>
            <input type="text" name="gioitinh" placeholder="Giới tính" value="{{employee.gioitinh}}" class="form-control">

        </div>
        <div class="form-group md-6">
            <label>Email</label>
            <input type="text" name="email" placeholder="Email" value="{{employee.email}}" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label>Số điện thoại</label>
        <input type="text" class="form-control" name="sdt" value="{{employee.sdt}}" placeholder="Số điện thoại">
        
    </div>

    <div class="form-group">
        <label>Quê quán</label>
        <input type="text" class="form-control" name="quequan" value="{{employee.quequan}}" placeholder="Quên quán">
        
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Lưu thông tin</button>
        <a href="/list" class="btn btn-danger">
            <i class="fa fa-list-alt"></i>Xem danh sách
        </a>
    </div>
</form>