<h3>
    <a href="/" class="btn btn-danger">
        <i class="fa fa-plus"> </i> Nhập thông tin
    </a>
    Danh Sách Thông Tin Sinh Viên Đã Nhập
</h3>
<table class="table table-striped"
    <thead>
        <tr>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Quê quán</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.hoten}}</td>
            <td>{{this.ngaysinh}}</td>
            <td>{{this.gioitinh}}</td>
            <td>{{this.email}}</td>
            <td>{{this.sdt}}</td>
            <td>{{this.quequan}}</td>
            <td>
                <a href="/{{this._id}}">
                    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                </a>
                <a href="/delete/{{this._id}}"
                    onclick="return confirm('Are you sure to delete this record?');">
                    <i class="fa fa-trash fa-lg" aria-hidden="true">

                    </i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>